form{
    width: 25%;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 500px;
    padding: 20px;
    background-color: #ffffcc;
}
label{
    font-family:lucida sans;
    font-size: 14px;
    display: block;
    width: 100%;
}
input{
    margin-bottom: 20px;
    width: 100%;
    padding: auto;
    box-sizing: border-box;
    border: 1px solid gray;
}
input:focus{
    border: 2px solid #1668c4;
}
button{
    font-family:lucida sans;
    font-size: 16px;
    margin-bottom: 0%;
    background-color: black;
    color: white;
    border: none;
}
button:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-family:lucida sans;
    color: #2ECC71;
}
h3{
    text-align: center;
}
p{
    margin: 20px;
}
img{
    margin: 20px;
    margin-top: 0px;
    float: left;
    border-radius: 10%;
}
#cuentoUno {
    font-family: Lucida Sans;
    text-align: justify;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #FFAB91;
    color: #01579B;
}
#cuentoDos {
    font-family: Lucida Sans;
    text-align: justify;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #80DEEA;
    color: #1A237E;
}
#cuentoTres {
    font-family: Lucida Sans;
    text-align: justify;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #CFD8DC;
    color: #00796B;
}
#menor {
    text-align: center;
    margin-top: 20px;
    font-family:lucida sans;
    color: #3498DB; 
    font-size: 28px;
}
#SadFace {
    float: none;
}
#volver {
    width: 50px;
    float: none;
    margin:0%
}